.dir-item{
	float: left;
	padding: 10px 0px 10px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	width: 100%;
}

.inside-folder{
	display: none;
}

.file-item{
	padding: 10px;
    margin: 5px 5px 0px 40px;
    clear: both;
    float: left;
}

.folder-icon{
	float: left;
	width: 50px;
	height: 50px;
}

.folder-but, .upload-field, .input-folder-name{
	font-size: 10px !important;
}

.file-icon{
	float: left;
	width: 48px;
	height: 48px;
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.folder-options{
	float: left;
	clear: both;
	background-color: #dfdfdf;
	padding: 10px;
}

.dir-name{
	float: left;
}

.folder-name{
	float: left;
	font-size: 20px;
	color: #000;
	font-weight: bold;
	font-style: italic;
	padding: 10px 0px 0px 20px;
}

.file-name{
	color: #000;
	text-transform: uppercase;
	float: left;
	padding: 10px;
}

.file-descr{
	color: #888;
	font-size: 16px;
	float: left;
	font-weight: 200;
}

.file-content{
	float: left;
}

.file-options{
	color: #888;
	font-size: 16px;
	float: left;
}

.error{
	border:1px solid #D2B0B5;
	float: left;
	clear: both;
	border-radius: 4px;
	background-color:#f2dede;
	font-family:verdana;
	font-size:13px;
	color:#b94a48;
	width:95%;
	padding:10px; 
}